.svgImage {
  background-image: url('~@company/scope.assets.chat-svg/Chat.svg');
  width: 50px;
  height: 50px;
  background-color: #6b5de7;
  background-repeat: no-repeat;
  background-position: center;
}
